.daedalus {
  width: 20rem;
  height: 20rem;

  position: absolute;

  background-image: url("/images/daedalus.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(20deg);

  transition: all 1200ms cubic-bezier(0.53, -0.43, 0.23, 0.85);
  overflow: hidden;
}

.center {
  top: calc(30% - 10rem);
  left: calc(50% - 10rem);
}

.left {
  top: calc(75% - 10rem);
  left: -20rem;
  transform: rotate(-20deg) scale(0.3);
}

.right {
  top: calc(60% - 10rem);
  left: 200%;
  transform: rotate(-20deg) scale(0.3);
}
