.icarus {
  width: 20rem;
  height: 20rem;

  position: absolute;

  background-image: url("/images/icarussmiling.png");

  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-20deg);

  transition: all 1500ms cubic-bezier(0.43, -0.19, 0.23, 0.85);
  overflow: hidden;
}

.center {
  top: calc(70% - 10rem);
  left: calc(55% - 10rem);
}

.bottom {
  top: calc(200% - 10rem);
  left: calc(55% - 10rem);
  transform: scale(0.5) rotate(20deg);
}
