.main {
  height: 100%;
  width: 100%;

  background-image: url("/images/background.png");
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
