.topper {
  width: 100%;

  padding: 1rem;
  padding-bottom: 0rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: flex-start;
}

.title {
  font-size: x-large;
  color: white;

  text-align: left;
}

.main {
  width: 80%;
  color: white;
}
